## Preprocessing

In [131]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
app_df = pd.read_csv("../Resources/charity_data.csv")
app_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [132]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df = app_df.drop(['EIN', 'NAME'], axis = 1)
app_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [133]:
# Determine the number of unique values in each column.
app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [134]:
# Look at APPLICATION_TYPE value counts for binning
app_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [135]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = []
for x in app_df['APPLICATION_TYPE'].unique():
    if len(app_df.loc[app_df['APPLICATION_TYPE'] == x]) < 500:
        application_types_to_replace.append(x)

# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [136]:
# Look at CLASSIFICATION value counts for binning
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1580        1
C4500        1
C1248        1
C4200        1
C1236        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [137]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []
for x in app_df['CLASSIFICATION'].unique():
    if len(app_df.loc[app_df['CLASSIFICATION'] == x]) < 1880:
        classifications_to_replace.append(x)

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [138]:
# Convert categorical data to numeric with `pd.get_dummies`
app_df = pd.get_dummies(app_df)
app_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [139]:
# Split our preprocessed data into our features and target arrays
y = app_df['IS_SUCCESSFUL'].values
X = app_df.drop(["IS_SUCCESSFUL"], axis = 1).values

# Split the preprocessed data into a training and testing dataset
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y)

In [140]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(Xtrain)

# Scale the data
X_train_scaled = X_scaler.transform(Xtrain)
X_test_scaled = X_scaler.transform(Xtest)

## Compile, Train and Evaluate the Model

In [141]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
numinputfeatures = len(Xtrain[0])
hiddennodes1 = 80
hiddennodes2 = 30
numinputfeatures

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units = hiddennodes1,
                          input_dim = numinputfeatures,
                          activation = "relu")
)

# Second hidden layer

nn.add(tf.keras.layers.Dense(units = hiddennodes2,
                             activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1,
                             activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 80)                3520

 dense_13 (Dense)            (None, 30)                2430

 dense_14 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [142]:
# Compile the model
nn.compile(loss = "binary_crossentropy",
           optimizer = "adam",
           metrics = ["accuracy"])

In [143]:
# Train the model
fitmodel = nn.fit(X_train_scaled,
                  ytrain,
                  epochs = 100)

Epoch 1/100
804/804 [==============================] - 1s 785us/step - loss: 0.5709 - accuracy: 0.7176
Epoch 2/100
804/804 [==============================] - 1s 793us/step - loss: 0.5554 - accuracy: 0.7294
Epoch 3/100
804/804 [==============================] - 1s 786us/step - loss: 0.5521 - accuracy: 0.7271
Epoch 4/100
804/804 [==============================] - 1s 728us/step - loss: 0.5499 - accuracy: 0.7297
Epoch 5/100
804/804 [==============================] - 1s 734us/step - loss: 0.5486 - accuracy: 0.7311
Epoch 6/100
804/804 [==============================] - 1s 722us/step - loss: 0.5475 - accuracy: 0.7315
Epoch 7/100
804/804 [==============================] - 1s 721us/step - loss: 0.5468 - accuracy: 0.7329
Epoch 8/100
804/804 [==============================] - 1s 726us/step - loss: 0.5463 - accuracy: 0.7327
Epoch 9/100
804/804 [==============================] - 1s 729us/step - loss: 0.5456 - accuracy: 0.7326
Epoch 10/100
804/804 [==============================] - 1s 726us/step - loss: 0.5449 - accuracy: 0.7338
Epoch 11/100
804/804 [==============================] - 1s 719us/step - loss: 0.5445 - accuracy: 0.7322
Epoch 12/100
804/804 [==============================] - 1s 729us/step - loss: 0.5448 - accuracy: 0.7342
Epoch 13/100
804/804 [==============================] - 1s 720us/step - loss: 0.5441 - accuracy: 0.7347
Epoch 14/100
804/804 [==============================] - 1s 730us/step - loss: 0.5436 - accuracy: 0.7336
Epoch 15/100
804/804 [==============================] - 1s 719us/step - loss: 0.5434 - accuracy: 0.7343
Epoch 16/100
804/804 [==============================] - 1s 768us/step - loss: 0.5433 - accuracy: 0.7351
Epoch 17/100
804/804 [==============================] - 1s 722us/step - loss: 0.5427 - accuracy: 0.7343
Epoch 18/100
804/804 [==============================] - 1s 727us/step - loss: 0.5431 - accuracy: 0.7354
Epoch 19/100
804/804 [==============================] - 1s 733us/step - loss: 0.5424 - accuracy: 0.7354
Epoch 20/100
804/804 [==============================] - 1s 778us/step - loss: 0.5423 - accuracy: 0.7351
Epoch 21/100
804/804 [==============================] - 1s 776us/step - loss: 0.5417 - accuracy: 0.7367
Epoch 22/100
804/804 [==============================] - 1s 745us/step - loss: 0.5420 - accuracy: 0.7341
Epoch 23/100
804/804 [==============================] - 1s 731us/step - loss: 0.5414 - accuracy: 0.7360
Epoch 24/100
804/804 [==============================] - 1s 736us/step - loss: 0.5414 - accuracy: 0.7345
Epoch 25/100
804/804 [==============================] - 1s 789us/step - loss: 0.5412 - accuracy: 0.7355
Epoch 26/100
804/804 [==============================] - 1s 733us/step - loss: 0.5407 - accuracy: 0.7364
Epoch 27/100
804/804 [==============================] - 1s 732us/step - loss: 0.5407 - accuracy: 0.7363
Epoch 28/100
804/804 [==============================] - 1s 736us/step - loss: 0.5407 - accuracy: 0.7362
Epoch 29/100
804/804 [==============================] - 1s 823us/step - loss: 0.5404 - accuracy: 0.7354
Epoch 30/100
804/804 [==============================] - 1s 755us/step - loss: 0.5405 - accuracy: 0.7367
Epoch 31/100
804/804 [==============================] - 1s 756us/step - loss: 0.5401 - accuracy: 0.7367
Epoch 32/100
804/804 [==============================] - 1s 748us/step - loss: 0.5404 - accuracy: 0.7366
Epoch 33/100
804/804 [==============================] - 1s 747us/step - loss: 0.5402 - accuracy: 0.7353
Epoch 34/100
804/804 [==============================] - 1s 752us/step - loss: 0.5395 - accuracy: 0.7368
Epoch 35/100
804/804 [==============================] - 1s 748us/step - loss: 0.5393 - accuracy: 0.7359
Epoch 36/100
804/804 [==============================] - 1s 750us/step - loss: 0.5390 - accuracy: 0.7371
Epoch 37/100
804/804 [==============================] - 1s 746us/step - loss: 0.5396 - accuracy: 0.7376
Epoch 38/100
804/804 [==============================] - 1s 745us/step - loss: 0.5394 - accuracy: 0.7367
Epoch 39/100
804/804 [==============================] - 1s 747us/step - loss: 0.5392 - accuracy: 0.7366
Epoch 40/100
804/804 [==============================] - 1s 752us/step - loss: 0.5391 - accuracy: 0.7380
Epoch 41/100
804/804 [==============================] - 1s 743us/step - loss: 0.5386 - accuracy: 0.7371
Epoch 42/100
804/804 [==============================] - 1s 742us/step - loss: 0.5388 - accuracy: 0.7366
Epoch 43/100
804/804 [==============================] - 1s 749us/step - loss: 0.5382 - accuracy: 0.7377
Epoch 44/100
804/804 [==============================] - 1s 744us/step - loss: 0.5388 - accuracy: 0.7370
Epoch 45/100
804/804 [==============================] - 1s 746us/step - loss: 0.5385 - accuracy: 0.7373
Epoch 46/100
804/804 [==============================] - 1s 746us/step - loss: 0.5384 - accuracy: 0.7374
Epoch 47/100
804/804 [==============================] - 1s 790us/step - loss: 0.5381 - accuracy: 0.7374
Epoch 48/100
804/804 [==============================] - 1s 741us/step - loss: 0.5382 - accuracy: 0.7378
Epoch 49/100
804/804 [==============================] - 1s 739us/step - loss: 0.5378 - accuracy: 0.7373
Epoch 50/100
804/804 [==============================] - 1s 743us/step - loss: 0.5381 - accuracy: 0.7370
Epoch 51/100
804/804 [==============================] - 1s 740us/step - loss: 0.5377 - accuracy: 0.7373
Epoch 52/100
804/804 [==============================] - 1s 749us/step - loss: 0.5376 - accuracy: 0.7372
Epoch 53/100
804/804 [==============================] - 1s 732us/step - loss: 0.5375 - accuracy: 0.7376
Epoch 54/100
804/804 [==============================] - 1s 734us/step - loss: 0.5374 - accuracy: 0.7383
Epoch 55/100
804/804 [==============================] - 1s 730us/step - loss: 0.5380 - accuracy: 0.7377
Epoch 56/100
804/804 [==============================] - 1s 722us/step - loss: 0.5374 - accuracy: 0.7388
Epoch 57/100
804/804 [==============================] - 1s 724us/step - loss: 0.5376 - accuracy: 0.7382
Epoch 58/100
804/804 [==============================] - 1s 732us/step - loss: 0.5372 - accuracy: 0.7376
Epoch 59/100
804/804 [==============================] - 1s 742us/step - loss: 0.5376 - accuracy: 0.7381
Epoch 60/100
804/804 [==============================] - 1s 728us/step - loss: 0.5373 - accuracy: 0.7383
Epoch 61/100
804/804 [==============================] - 1s 720us/step - loss: 0.5371 - accuracy: 0.7374
Epoch 62/100
804/804 [==============================] - 1s 783us/step - loss: 0.5367 - accuracy: 0.7374
Epoch 63/100
804/804 [==============================] - 1s 722us/step - loss: 0.5364 - accuracy: 0.7389
Epoch 64/100
804/804 [==============================] - 1s 744us/step - loss: 0.5369 - accuracy: 0.7385
Epoch 65/100
804/804 [==============================] - 1s 736us/step - loss: 0.5367 - accuracy: 0.7381
Epoch 66/100
804/804 [==============================] - 1s 728us/step - loss: 0.5371 - accuracy: 0.7385
Epoch 67/100
804/804 [==============================] - 1s 766us/step - loss: 0.5365 - accuracy: 0.7390
Epoch 68/100
804/804 [==============================] - 1s 732us/step - loss: 0.5367 - accuracy: 0.7381
Epoch 69/100
804/804 [==============================] - 1s 734us/step - loss: 0.5363 - accuracy: 0.7394
Epoch 70/100
804/804 [==============================] - 1s 730us/step - loss: 0.5364 - accuracy: 0.7385
Epoch 71/100
804/804 [==============================] - 1s 733us/step - loss: 0.5359 - accuracy: 0.7383
Epoch 72/100
804/804 [==============================] - 1s 722us/step - loss: 0.5364 - accuracy: 0.7385
Epoch 73/100
804/804 [==============================] - 1s 743us/step - loss: 0.5364 - accuracy: 0.7382
Epoch 74/100
804/804 [==============================] - 1s 740us/step - loss: 0.5362 - accuracy: 0.7378
Epoch 75/100
804/804 [==============================] - 1s 734us/step - loss: 0.5361 - accuracy: 0.7390
Epoch 76/100
804/804 [==============================] - 1s 734us/step - loss: 0.5361 - accuracy: 0.7376
Epoch 77/100
804/804 [==============================] - 1s 737us/step - loss: 0.5360 - accuracy: 0.7378
Epoch 78/100
804/804 [==============================] - 1s 725us/step - loss: 0.5353 - accuracy: 0.7396
Epoch 79/100
804/804 [==============================] - 1s 742us/step - loss: 0.5357 - accuracy: 0.7379
Epoch 80/100
804/804 [==============================] - 1s 728us/step - loss: 0.5357 - accuracy: 0.7394
Epoch 81/100
804/804 [==============================] - 1s 720us/step - loss: 0.5360 - accuracy: 0.7390
Epoch 82/100
804/804 [==============================] - 1s 730us/step - loss: 0.5355 - accuracy: 0.7390
Epoch 83/100
804/804 [==============================] - 1s 714us/step - loss: 0.5355 - accuracy: 0.7397
Epoch 84/100
804/804 [==============================] - 1s 723us/step - loss: 0.5355 - accuracy: 0.7392
Epoch 85/100
804/804 [==============================] - 1s 712us/step - loss: 0.5354 - accuracy: 0.7393
Epoch 86/100
804/804 [==============================] - 1s 736us/step - loss: 0.5352 - accuracy: 0.7393
Epoch 87/100
804/804 [==============================] - 1s 727us/step - loss: 0.5356 - accuracy: 0.7376
Epoch 88/100
804/804 [==============================] - 1s 775us/step - loss: 0.5352 - accuracy: 0.7386
Epoch 89/100
804/804 [==============================] - 1s 733us/step - loss: 0.5355 - accuracy: 0.7390
Epoch 90/100
804/804 [==============================] - 1s 717us/step - loss: 0.5352 - accuracy: 0.7395
Epoch 91/100
804/804 [==============================] - 1s 738us/step - loss: 0.5348 - accuracy: 0.7384
Epoch 92/100
804/804 [==============================] - 1s 734us/step - loss: 0.5349 - accuracy: 0.7390
Epoch 93/100
804/804 [==============================] - 1s 732us/step - loss: 0.5351 - accuracy: 0.7391
Epoch 94/100
804/804 [==============================] - 1s 734us/step - loss: 0.5351 - accuracy: 0.7394
Epoch 95/100
804/804 [==============================] - 1s 776us/step - loss: 0.5345 - accuracy: 0.7381
Epoch 96/100
804/804 [==============================] - 1s 734us/step - loss: 0.5353 - accuracy: 0.7390
Epoch 97/100
804/804 [==============================] - 1s 737us/step - loss: 0.5351 - accuracy: 0.7395
Epoch 98/100
804/804 [==============================] - 1s 734us/step - loss: 0.5345 - accuracy: 0.7391
Epoch 99/100
804/804 [==============================] - 1s 720us/step - loss: 0.5348 - accuracy: 0.7391
Epoch 100/100
804/804 [==============================] - 1s 728us/step - loss: 0.5343 - accuracy: 0.7398

In [144]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,
                                         ytest,
                                         verbose = 2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5626 - accuracy: 0.7324 - 214ms/epoch - 797us/step
Loss: 0.5625898838043213, Accuracy: 0.7323614954948425

In [145]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')